description "accumulo tablet server"

start on stopped rc RUNLEVEL=[2345]
respawn
setuid accumulo
chdir /var/lib/accumulo

exec /usr/bin/accumulo tserver --address {{ ansible_eth1['ipv4']['address'] }} >>/var/log/accumulo/logs/tserver.out 2>>/var/log/accumulo/logs/tserver.err
